
body {
    background-color: #f4f4f4;
    color: #333;
    /* background-color: gray;
    color: gray; */ 
} 

/* body {
    background-color: #323232;
    color: #333;
    /* background-color: gray;
    color: gray; 
}  */
* {
    box-sizing: border-box;
}
header {
    /* background-color: beige; */
    /* background-image: url("screen1.png"); */
    background-position: top;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px; 
    /* vertical-align: middle; */
    text-align: center;
    position: relative;
    color: #000000;
    z-index: 2;
    width: 90%; 
    margin-left:4.4%;
}

/* header::before { 
    background-color: rgba(0,0,0,0.35);
    z-index: 0;
    content: ''; 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; 
    left:0; 
} */

header > *{
    position: relative;
    z-index: 2; 
}

/* section {
    border: 20px;
    padding:20px;
} */

.col-12 {
    margin-right: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.col-12:first-child {
    margin-left: 212px;
}
.col-12:last-child {
    margin-right:0px;
}

.bg-white {
    background-color: white;
}
.bg-beige {
    background-color: tan;
}


.full-height {
    height: 100vh; 
}
.full-height .d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-top:80px;
    margin-bottom:20px; 
    color: white;
}

nav {
        display:flex; 
        background-color: white;
        /* width: 45%;   */
        height: 100px;
        justify-content: center;
        text-align: center;
        align-items: center; 
        /* border-color: black; */
        /* border: 1px solid black;  */
        /* border-radius: 10px; */
        top:0; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 70px;
}
nav ul{
    list-style-type: none;
    text-align: center;
    margin-top: 10px;


}

nav ul li {
    display: inline; 
    margin-right: 20px;
}

nav ul li a {
    color: #000000;
    text-transform: uppercase;
    font-size: 20px;
}
/* .container {
    position: relative;
    top: 0;
    left: 0; 
    width: 400px;
    height: 500px; 
    z-index: 0; 
}  */


.slide {
    position: absolute;
    width: 66%;
    height: 600px; 
    background-size: cover;
    background-position: center center;
    /* display: none; */
    left: 16.5%;
    margin-left: 10px;
    top: 180px;  
    z-index: 0; 
    opacity:0.3; 
    transition: opacity 3s ease-in-out;  
    /* border-radius: 10px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.slide::before { 
    background-color: rgba(0,0,0,0.35);
    z-index: 0;
    content: ''; 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; 
    left:0; 
}
.slide.show {
    opacity: 1;
    z-index:1; /* Make slide visible */
}

.ham {
    position: absolute;
    z-index: 100; 
    cursor: pointer;
    top: 45px;
    right: 300px; 
}

.side {
    height: 100%;
    width: 200px; 
    position: fixed;
    top: 0; 
    right: -250px;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 99; 
    /* background-color: #F5f5dc; */
    background-color: tan;
    margin-top: 5px;
    /* margin-top: 250px; */

}

.side.active {
    top:0; 
    right:0;
    height: 100%; 
    width: 120; 
     
}