<!DOCTYPE html>
<html>

<head>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel = "stylesheet" href="style.css">

    <script src="https://kit.fontawesome.com/005a876b20.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet">

    
</head>




<body>
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo"><i class="fas fa-gem"></i>10 Commanders
            </a>
            <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="index.html" class="navbar__links">
                    Home
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="Basketball.html" class="navbar__links">
                        Basketball
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="Football.html" class="navbar__links">
                        Football
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="Soccer.html" class="navbar__links">
                        Soccer
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="Hockey.html" class="navbar__links">
                        Hockey
                    </a>
                </li>
                <li class="navbar__btn">
                    <a href="signup.html" class="button">
                        Sign Up
                    </a>
                </li>
            
            </ul>
        </div>
    </nav>

    <div class="services">
        <h1>Analyzed game data</h1>
        <div class="services__container">
        <img class="im-age" src="images/gavin1.png" alt="">
        <img class="im-age" src="images/gavin2.png" alt="">
        <img class="im-age" src="images/gavin3.png" alt="">
        </div>
    </div>

    <div class="main">
        <div class="main__container">
            
        </div>
    </div>

    <script src = "app.js"></script>
</body>

</html>