<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport Betting</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo">10 Commanders
            </a>
            <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="/home_page.html" class="navbar__links">
                    Home
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="/Basketball.html" class="navbar__links">
                        Basketball
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="/Football.html" class="navbar__links">
                        Football
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="/Soccer.html" class="navbar__links">
                        Soccer
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="/Hockey.html" class="navbar__links">
                        Hockey
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="/submissions.html" class="navbar__links">
                        Submissions
                    </a>
                </li>
            
            </ul>
        </div>
    </nav>
</body>
</html>